/* ------------------------
      General styles
   ------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  max-width: 100%;
  overflow-x: hidden;
}

body,
html {
  height: 100%;
  font-family: 'Ubuntu', sans-serif;
  color: #1D4F74;
}

html {
  scroll-behavior: smooth;
}

html,
body,
div,
span,
img,
ol,
ul,
li,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
option,
legend,
label,
table,
th,
td,
tr,
article,
aside,
caption,
figure,
footer,
header,
hgroup,
mark,
nav,
section,
time,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

img {
  max-width: 100%;
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none !important;
  border: 0;
}

input:focus {
  outline: none;
}

input::-moz-focus-inner {
  border: 0;
  display: none;
}

input::-webkit-focus-inner {
  border: 0;
  display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

::-webkit-input-placeholder {
  color: #666;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  color: #666;
  opacity: 1;
  /* Firefox */
}

::-ms-input-placeholder {
  color: #666;
  opacity: 1;
  /* Firefox */
}

::placeholder {
  color: #666;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #666;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #666;
}

table {
  border-collapse: collapse;
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

ul,
li {
  margin: 0;
  padding: 0;
}

figure {
  margin: 0px;
}

form {
  position: relative;
}

.form-control:focus {
  -webkit-box-shadow: 0 0 0;
  box-shadow: 0 0 0;
  border-color: #E8EDF1;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  font-size: inherit;
  color: inherit;
}

h1:hover a,
h2:hover a,
h3:hover a,
h4:hover a,
h5:hover a,
h6:hover a {
  font-size: inherit;
  color: inherit;
}

hr {
  margin: 0;
  padding: 0;
  border-color: #000;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  list-style: none;
}

a:hover,
a:focus,
button:hover,
button:focus {
  outline: 0;
  text-decoration: none;
}

.bg-grey {
  background: #F8FBFF;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1110px;
  }
}

.section-header h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #1D4F74;
  margin-bottom: 8px;
}

.section-header p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #6B7888;
}

.btn-primary {
  background: #1D4F74;
  border: none;
  font-weight: 400;
  font-size: 12.8px;
  line-height: 19px;
  width: 105px;
  height: 40px;
}

.btn-primary:focus {
  background: #1D4F74;
  box-shadow: none;
}

.btn-primary:hover {
  background: #1D4F74;
}


.btn-secondary {
  background: #009CA1;
  border: none;
  font-weight: 400;
  font-size: 12.8px;
  line-height: 19px;
  width: 100%;
  height: 40px;
}

.btn-secondary:focus {
  background: #009CA1;
  box-shadow: none;
}

.btn-secondary:hover {
  background: #009CA1;
}

.btn-info {
  background: #6B7888;
  border-radius: 4px;
  min-width: 220px;
  height: 40px;
  border: none;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 12.8px;
  line-height: 19px;
  width: 100%;
}


.btn-info:focus {
  color: #FFFFFF;
  background: #6B7888;
  border-color: none;
  outline: 0;
  box-shadow: none !important;
}

.btn-info:active {
  color: #FFFFFF;
  background: #6B7888;
  border-color: none;
  outline: 0;
  box-shadow: none !important;
}


.btn-info:hover {
  color: #FFFFFF;
  background: #6B7888;
}

.form-label {
  font-weight: 400;
  font-size: 12.8px;
  line-height: 19px;
  color: #6B7888;
  margin-bottom: 4px;
}

.form-text {
  font-style: normal;
  font-weight: 400;
  font-size: 12.8px;
  line-height: 19px;
  text-align: right;
  color: #6B7888;
  text-decoration: none;
  margin-top: 8px;
  display: flex;
}

.form-text:hover {
  color: #6B7888;
}

.form-section input {
  background: #FFFFFF;
  border: 1px solid #E8EDF1;
  border-radius: 4px;
  width: 100%;
  height: 48px;
  font-style: normal;
  font-weight: 400;
  font-size: 12.8px;
  line-height: 19px;
  color: #1D4F74;
}

.input-group.field-icon input {
  border-right: none;
}

.input-group-text {
  background-color: #FFFFFF;
  padding-top: 10px;
  border: 1px solid #E8EDF1;
}

.invalid-feedback {
  font-style: normal;
  font-weight: 400;
  font-size: 12.8px;
  line-height: 19px;
  color: #D22630;
  margin-top: 8px;
}

.form-check {
  display: flex;
}

.form-check input {
  width: 20px;
  height: 20px;
  min-width: 20px;
}

.form-check-label {
  font-weight: 400;
  font-size: 12.8px;
  line-height: 19px;
  color: #1D4F74;
  padding-left: 10px;
}

.form-check-label a {
  color: #009CA1;
  text-decoration: none;
}

.inner-header-text {
  font-style: normal;
  font-weight: 400;
  font-size: 12.8px;
  line-height: 19px;
  color: #6B7888;
}

.breadcrumb {
  margin-bottom: 0;
}

.breadcrumb .breadcrumb-item a {
  font-size: 12.8px;
  color: #6B7888;
  text-decoration: none;
}

.breadcrumb .breadcrumb-item {
  font-size: 12.8px;
}

.breadcrumb-item+.breadcrumb-item::before {
  color: #6B7888
}

.breadcrumb-section {
  margin-top: 25px;
}

.inner-header h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #1D4F74;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mt-8 {
  margin-top: 8px;
}

.createAccount a {
  font-weight: 400;
  font-size: 12.8px;
  line-height: 19px;
  text-align: center;
  color: #1D4F74;
  text-decoration: none;
}

.createAccount {
  text-align: center;
}

.form-control {
  background: #FFFFFF;
  border: 1px solid #E8EDF1;
  border-radius: 4px;
  width: 100%;
  height: 48px;
  font-style: normal;
  font-weight: 400;
  font-size: 12.8px;
  line-height: 19px;
  color: #1D4F74;
}

/*------------------------------------------------------
/  01. Top Bar Section
/------------------------------------------------------*/
.topBarSection {
  position: relative;
  background: linear-gradient(0deg, rgba(7, 80, 117, 0.1), rgba(7, 80, 117, 0.1)), #FFFFFF;
  z-index: 5;
  min-height: 30px;
}

.topBarSocial {
  min-height: 30px;
}

.topBarSocial a {
  min-height: 30px;
  display: flex;
  align-items: center;
}

.topBarTagline {
  min-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 12.8px;
  line-height: 19px;
}

.topBarlang {
  min-height: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: 700;
  font-size: 12.8px;
  line-height: 19px;
}


/*------------------------------------------------------
/  02. Header Section
/------------------------------------------------------*/
.mainMenu {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.header01Inner.h01IMode2 .mainMenu {
  justify-content: flex-start;
}

.header01Inner.h01IMode2 .mainMenu {
  flex: 1;
  margin: 0;
}

.menuToggler {
  display: none;
}

.mainMenu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-flex;
  justify-content: center;
}

.mainMenu ul li {
  position: relative;
  list-style: none;
  margin: 0 42px 0 0;
  padding: 30px 0;
}

.mainMenu ul li:last-child {
  margin: 0;
}

.mainMenu ul li a {
  display: block;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 12.8px;
  line-height: 19px;
  color: #1D4F74;
}

.logo {
  text-align: center;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerAccessLinks {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.headerAccessLinks .dropdown-menu {
  margin-top: 10px !important;
}

.headerAccessLinks a.link-item {
  color: #1D4F74;
  text-decoration: #1D4F74;
  margin-left: 30px;
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 12.8px;
  line-height: 19px;
  padding: 30px 0;
}

.headerAccessLinks a.link-item img {
  margin-right: 5px;
}

.headerAccessLinks .link-item img {
  margin-right: 5px;
}

.headerAccessLinks .dropdown-toggle {
  font-style: normal;
  font-weight: 400;
  font-size: 12.8px;
  line-height: 19px;
}

.headerAccessLinks .dropdown-toggle::after {
  background-image: url(../images/account-down.svg);
  border: none;
  width: 10px;
  height: 10px;
  background-repeat: no-repeat;
  position: absolute;
  top: 7px;
  left: 74px;
}

.headerInner {
  border-bottom: solid 2px #E8EDF1;
}

/*------------------------------------------------------
/  03. slider Section
/------------------------------------------------------*/


.sliderSection .owl-nav {
  position: absolute;
  top: 40%;
  width: 100%;
}

.sliderSection .owl-prev {
  float: left;
}

.sliderSection .owl-next {
  float: right;
}

.owl-nav [class*=owl-]:hover {
  background: transparent !important;
  color: #FFF;
  text-decoration: none;
}

.sliderSection .owl-theme .owl-dots {
  bottom: 42px;
  position: relative;
}

/*------------------------------------------------------
/  03.Top Collections
/------------------------------------------------------*/

.topCollectionsSection {
  padding: 50px 0px 80px;
}

.section-header {
  margin-bottom: 30px;
}

.collection-row {
  margin-top: 26px;
}

.collection-item a {
  position: relative;
  z-index: 1;
  display: block;
  border-radius: 4px;
  overflow: hidden;
}

.collection-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, #000000 100%);
  border-radius: 4px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.collection-item .overlay h1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  margin-bottom: 8px;
}

.collection-item .overlay p {
  font-style: normal;
  font-weight: 400;
  font-size: 12.8px;
  line-height: 19px;
  color: #FFFFFF;
}

.collections-block .collection-item:first-child {
  margin-bottom: 26px;
}

.topCollection-mobile {
  width: 100%;
  overflow-y: auto;
}


/* width */
.topCollection-mobile::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  border-radius: 8px;
}

/* Track */
.topCollection-mobile::-webkit-scrollbar-track {
  background: #E8EDF1;
  border-radius: 8px;
  height: 6px;
}

/* Handle */
.topCollection-mobile::-webkit-scrollbar-thumb {
  background: #009CA1;
  border-radius: 8px;
  height: 6px;
}

/* Handle on hover */
.topCollection-mobile::-webkit-scrollbar-thumb:hover {
  background: #009CA1;
  border-radius: 8px;
}

.topCollectionRow {
  display: flex;
  align-items: center;
  width: 840px;
}

.topCollectionsSection .products-item {
  max-width: 160px;
  margin-right: 16px;
  width: 100%;
  padding-bottom: 10px;
  margin-bottom: 0;
}

.topCollectionsSection .products-img {
  margin-bottom: 12px;
}

.topCollectionsSection .products-header h2 {
  font-size: 14px;
  margin-bottom: 4px;
}

.topCollectionsSection .products-header p {
  font-size: 12.8px;
  line-height: 19px;
}

/*------------------------------------------------------
/  04.Usp Section
/------------------------------------------------------*/

.uspSection {
  padding-bottom: 80px;
}

.uspInner {
  background: #E8EDF1;
  border-radius: 4px;
  padding: 30px 10px;
}

.uspInner h2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #1D4F74;
  margin-bottom: 8px;
}

.uspInner p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #6B7888;
}

/*------------------------------------------------------
/  05.Product Section
/------------------------------------------------------*/
.productSection {
  padding-bottom: 80px;
}

.product-images {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
  border-radius: 6px;
  overflow: hidden;
}

.product-header h2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #1D4F74;
  margin-bottom: 8px;
}

.product-header p {
  font-weight: 400;
  font-size: 12.8px;
  line-height: 19px;
  color: #6B7888;
}

.product-img-left {
  margin-right: 3px;
}

.pimg-top {
  margin-bottom: 3px;
}

.pimg-bottom {
  margin-top: 3px;
}


/*------------------------------------------------------
/  06.favorites Section
/------------------------------------------------------*/

.browseProductsSection {
  padding: 0 0 80px;
}

.favoritesSection {
  padding: 0 0 50px;
}

.favorites-item {
  display: flex;
  align-items: center;
}

.favorites-info {
  background-color: #FFF;
  padding: 22px 24px;
  position: absolute;
  left: 96px;
}

.favorites-info h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #1D4F74;
  margin-bottom: 8px;
}

.favorites-info p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #6B7888;
  margin-bottom: 16px;
}


.favoritesSection .owl-nav {
  position: absolute;
  top: 40%;
  width: 100%;
}

.favoritesSection .owl-prev {
  float: left;
}

.favoritesSection .owl-next {
  float: right;
}

.owl-nav [class*=owl-]:hover {
  background: transparent !important;
  color: #FFF;
  text-decoration: none;
}

.favoritesSection .owl-theme .owl-dots {
  bottom: 42px;
  position: relative;
}


/*------------------------------------------------------
/  07.Browse Products Section
/------------------------------------------------------*/

.browseProductsSection h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: left;
  color: #1D4F74;
  margin-bottom: 16px;
}

.browseproduct-img {
  margin-bottom: 12px;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
}

.browseproduct-img .like-icon {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.browseproduct-header h2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1D4F74;
  margin-bottom: 4px;
}

.browseproduct-header p {
  font-style: normal;
  font-weight: 400;
  font-size: 12.8px;
  line-height: 19px;
  color: #1D4F74;
}


.browseProductsSection .owl-nav {
  position: absolute;
  top: 40%;
  width: 100%;
}

.browseProductsSection .owl-prev {
  float: left;
  left: -20px;
  position: relative;
  margin: 0;
}

.browseProductsSection .owl-next {
  float: right;
  right: 5px;
  position: relative;
}

.browseProductsSection .owl-theme .owl-dots {
  bottom: 42px;
  position: relative;
  display: none;
}


label.priceTag {
  left: 0;
  top: 16px;
  margin-left: 50px;
  position: absolute;
  display: flex;
  align-items: center;
  width: fit-content;
  padding-right: 0px;
  padding-left: 10px;
  height: 24px;
  margin-left: 0;
  border-radius: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 12.8px;
  line-height: 19px;
  color: #FFFFFF;
}

label.priceTag:after {
  content: "";
  position: absolute;
  left: 100%;
  bottom: 0;
  width: 0;
  height: 0;
  display: inline-block;
  line-height: 0;
  border-width: 12px;
  border-style: solid;
}

label.priceTag.price {
  background: #1D4F74;
}

label.priceTag.price:after {
  border-color: #1D4F74 transparent #1D4F74 #1D4F74;
}

label.priceTag.sold {
  background: #6B7888;
}

label.priceTag.sold:after {
  border-color: #6B7888 transparent #6B7888 #6B7888;
}

label.priceTag.priceNew {
  background: #009CA1;
}

label.priceTag.priceNew:after {
  border-color: #009CA1 transparent #009CA1 #009CA1;
}

label.priceTag:before {
  content: '';
  position: absolute;
  bottom: 6px;
  width: fit-content;
  left: -35px;
  height: 4px;
  z-index: -1;
  -moz-transform: skew(-5deg) rotate(-5deg);
  -ms-transform: skew(-5deg) rotate(-5deg);
  -webkit-transform: skew(-5deg) rotate(-5deg);
  transform: skew(-5deg) rotate(-5deg);
}


/*------------------------------------------------------
/  08.Subscribe to our newsletter
/------------------------------------------------------*/

.subscribeSection {
  padding: 0 0 80px 0;
}

.subscribe-block {
  display: flex;
  align-items: center;
  background: #E8EDF1;
  border-radius: 4px;
  overflow: hidden;
}

.subscribe-info {
  padding: 30px;
}

.subscribe-block .email-banner {
  flex: 1 0 50%;
}

.subscribe-block .subscribe-info {
  flex: 1 0 50%;
}

.subscribe-info-block h2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #1D4F74;
  margin-bottom: 8px;
}

.subscribe-info-block p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #6B7888;
  margin-bottom: 16px;
}

.subscribe-info-block .form-group {
  margin-bottom: 16px;
}

.subscribe-info-block .form-group input {
  background: #FFFFFF;
  border-radius: 4px;
  padding-left: 48px;
  max-width: 475px;
  border: none;
  height: 48px;
}

.subscribe-info-block .form-group input {
  background-image: url(../images/email.svg);
  background-repeat: no-repeat;
  background-position: 16px;
}

.subscribe-info-block button {
  width: 105px;
}


/*------------------------------------------------------
/  09.Products Section
/------------------------------------------------------*/

.productsSection {
  padding: 0 0 80px;
}

.products-img {
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 24px;
}

.products-img img {
  width: 100%;
}

.products-header h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #1D4F74;
  margin-bottom: 16px;
}

.products-header p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #6B7888;
}

/*------------------------------------------------------
/  09.Products Section
/------------------------------------------------------*/

.footer-link h5 {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #1D4F74;
  margin-bottom: 24px;
}

.footer-link ul {
  margin-bottom: 40px;
}

.footer-link ul li {
  margin: 10px 0;
}

.footer-link ul li a {
  font-style: normal;
  font-weight: 400;
  font-size: 12.8px;
  line-height: 19px;
  color: #6B7888;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.footer-link ul li a img {
  margin-right: 10px;
}

.footer-inner .container {
  border-top: solid 1px #E8EDF1;
  border-bottom: solid 1px #E8EDF1;
  padding-top: 40px;
  max-width: 1090px;
  padding-left: 0;
  padding-right: 0;
}

.sub-footer {
  min-height: 128px;
}

.copy-right {
  font-style: normal;
  font-weight: 400;
  font-size: 12.8px;
  line-height: 19px;
  color: #6B7888;
  min-height: 128px;
  display: flex;
  align-items: center;
}

.payment-icon {
  min-height: 128px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.payment-icon img {
  margin-left: 18px;
}

/*------------------------------------------------------
/  11. Preloader
/------------------------------------------------------*/
.preloader {
  width: 100%;
  position: fixed;
  height: 100%;
  background: #fafafa;
  z-index: 9999;
  top: 0;
  left: 0;
}

#loader {
  height: 125px;
  width: 100px;
  display: block;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#loader span {
  background: #464545;
  height: 15px;
  width: 100px;
  display: block;
  position: absolute;
}

#loader span:before,
#loader span:after {
  background: #464545;
  content: "";
  display: block;
  height: 85px;
  width: 15px;
  position: absolute;
}

#loader span:nth-of-type(1) {
  top: 0;
  left: -19px;
  -webkit-animation: top-bar 2s infinite;
  animation: top-bar 2s infinite;
}

#loader span:nth-of-type(1):before {
  -webkit-animation: top-bar-before 2s infinite;
  animation: top-bar-before 2s infinite;
  left: 0;
  bottom: -70px;
}

#loader span:nth-of-type(1):after {
  -webkit-animation: top-bar-after 2s infinite;
  animation: top-bar-after 2s infinite;
  right: 0;
  top: 0;
}

#loader span:nth-of-type(2) {
  bottom: 0;
  right: -19px;
  -webkit-animation: top-bar 2s infinite;
  animation: top-bar 2s infinite;
}

#loader span:nth-of-type(2):before {
  bottom: 0;
  left: 0;
  -webkit-animation: top-bar-after 2s infinite;
  animation: top-bar-after 2s infinite;
}

#loader span:nth-of-type(2):after {
  right: 0;
  top: -70px;
  -webkit-animation: top-bar-before 2s infinite;
  animation: top-bar-before 2s infinite;
}

/*------------------------------------------------------
/  12. Login
/------------------------------------------------------*/

.login-section {
  margin: 80px 0;
}

.login-section .inner-header {
  max-width: 352px;
  margin: 0 auto 32px;
}

.login-section .form-section {
  max-width: 350px;
  margin: 0 auto;
}

.header-text-d-none {
  display: none;
}

.togglePassword {
  cursor: pointer;
}

.eye {
  display: none;
}

.fa-eye-slash .eye {
  display: block;
}

.fa-eye-slash .hide-eye {
  display: none;
}

/*------------------------------------------------------
/  10.brand Section
/------------------------------------------------------*/

.brand-section {
  margin-top: 32px;
}

.brand-section .second-header {
  margin-bottom: 40px;
}

.brand-item {
  margin-bottom: 32px;

}

.brand-item .brand-img {
  border: 1px solid #E8EDF1;
  width: 160px;
  height: 160px;
  border-radius: 4px;
  margin-bottom: 16px;
}

.brand-item h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 12.8px;
  line-height: 19px;
  text-align: center;
  color: #1D4F74;
  width: 160px;
}


.second-header {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1D4F74;
}

.brands-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(-0.5 * 30px);
  margin-left: calc(-0.5 * 30px);
  margin-bottom: 42px;
  justify-content: center;
}

.brands-list>* {
  flex-shrink: 0;
  padding-right: calc(26px * 0.5);
  padding-left: calc(26px * 0.5);
}


/*------------------------------------------------------
/  11.Wishlist Section
/------------------------------------------------------*/

.wishlist-section {
  margin-bottom: 40px;
}

.wishlist-section .browseproduct-item {
  margin-bottom: 40px;
}

.wishlist-section h2.second-header {
  margin-top: 40px;
  margin-bottom: 24px;
}

/*------------------------------------------------------
/  12.brand hero Section
/------------------------------------------------------*/

.brand-hero-img {
  border-radius: 4px;
  overflow: hidden;
}

.brand-hero-section {
  margin-top: 40px;
  margin-bottom: 80px;
}

.brand-hero-info {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}

.brand-hero-inner {
  max-width: 445px;
}

.brand-hero-inner h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #1D4F74;
  margin-bottom: 24px;
}

.brand-hero-info p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1D4F74;
}

.brand-hero-info p {
  margin-bottom: 24px;
}

.brand-hero-info button {
  max-width: 160px;
}

/*------------------------------------------------------
/  13.brand hero Section
/------------------------------------------------------*/

.brand-step-section {
  margin: 120px 0;
}

.brand-step-block {
  max-width: 220px;
  margin: 0 auto;
}

.brand-step-block .brand-icon {
  width: 88px;
  height: 88px;
  background: #E8EDF1;
  margin: 0 auto 32px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand-step-block h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #1D4F74;
  margin-bottom: 16px;
}

.brand-step-block p {
  font-style: normal;
  font-weight: 400;
  font-size: 12.8px;
  line-height: 19px;
  text-align: center;
  color: #6B7888;
}

/*------------------------------------------------------
/  13.Lokal easy steps
/------------------------------------------------------*/

.lokal-easystep-section {
  margin-bottom: 80px;
}

.lokal-easystep-info h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #1D4F74;
  margin-bottom: 24px;
}

.lokal-easystep-info>p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1D4F74;
  margin-bottom: 80px;
}

.lokal-easystep-item {
  display: flex;
  align-items: center;
  margin-bottom: 80px;
  max-width: 539px;
}

.lokal-easystep-icon {
  width: 64px;
  height: 64px;
  background: #009CA1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 50px;
  border-radius: 100px;
  min-width: 64px;
}

.lokal-easystep-icon span {
  color: #FFF;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 2px #FFF;
  border-radius: 50px;
}

.lokal-easystep-item p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1D4F74;
}

.lokal-easystep .lokal-easystep-item:last-child {
  margin-bottom: 60px;
}


/*------------------------------------------------------
/  14. Search
/------------------------------------------------------*/
.modal-search {
  padding-top: 110px;
  position: relative;
}

.search-field {
  max-width: 750px;
  margin: 0 auto;
  width: 100%;
}

.modal-search .btn-close:focus {
  outline: 0;
  box-shadow: none;
  opacity: 1;
}

.modal-search-header .btn-close {
  background: none;
}

.modal-search-header {
  display: flex;
  align-items: center;
}

.modal-fullscreen-xxl-down .modal-content {
  height: auto;
}

.modal-search-header {
  margin-bottom: 80px;
}

.modal-search-result .browseproduct-item {
  margin-bottom: 40px;
}

.modal-search .modal-action {
  text-align: center;
  margin-bottom: 60px;
}

.modal-search .modal-action button {
  max-width: 350px;
  margin: 80px auto 0;
}

/*------------------------------------------------------
/  15. category
/------------------------------------------------------*/

.Shop-by-category {
  max-width: 540px;
  margin: 0 auto 80px;
}

.Shop-by-category h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #1D4F74;
  margin-bottom: 32px;
  text-align: center;
}

.category-item {}

.category-img {
  margin-bottom: 16px;
  border-radius: 4px;
  overflow: hidden;
}

.category-img img {
  width: 100%;
}

.category-header h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 12.8px;
  line-height: 19px;
  text-align: center;
  color: #1D4F74;
}

/*------------------------------------------------------
/  16. side bar Navigation
/------------------------------------------------------*/

.side-navigation {
  border: 1px solid #E8EDF1;
  border-radius: 4px;
  padding: 24px;
}

.account-section {
  margin-top: 40px;
  margin-bottom: 80px;
}

.side-navigation ul li:first-child a {
  padding-top: 8px;
}

.side-navigation ul li:last-child a {
  padding-bottom: 8px;
}

.side-navigation ul li:last-child {
  border-bottom: none;
}

.side-navigation ul li {
  border-bottom: solid 1px #E8EDF1;
}

.side-navigation ul li.active svg path {
  fill: #009CA1;
}

.side-navigation ul li a {
  cursor: pointer;
}

.side-navigation ul li.active a {
  color: #009CA1;
}

.side-navigation ul li:hover svg path {
  fill: #009CA1;
}

.side-navigation ul li:hover a {
  color: #009CA1;
}


.side-navigation ul li a {
  display: flex;
  align-items: center;
  padding: 16px 0;
}

.side-navigation ul li .icon {
  margin-right: 8px;
  min-width: 16px;
  text-align: center;
}

.side-navigation ul li a {
  font-style: normal;
  font-weight: 400;
  font-size: 12.8px;
  line-height: 19px;
  color: #1D4F74;
  text-decoration: none;
}

.my-account {
  border: 1px solid #E8EDF1;
  border-radius: 4px;
  padding: 32px 32px 40px;
}

.my-account-header {
  border-bottom: 1px solid #E8EDF1;
  padding-bottom: 24px;
  margin-bottom: 32px;
}

.my-account-header h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1D4F74;
}

.recent-orders-block {
  margin-bottom: 32px;
}

.recent-orders-block h2 {
  font-weight: 400;
  font-size: 12.8px;
  line-height: 19px;
  color: #1D4F74;
  margin-bottom: 16px;
}

.orders-empty {
  text-align: center;
  background: #E8EDF1;
  border-radius: 4px;
  width: 100%;
  height: 116px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.account-details h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 12.8px;
  line-height: 19px;
  color: #1D4F74;
  margin-bottom: 24px;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: #E8EDF1;
}

.orders-block .accordion-item {
  border: none;
  border-radius: 4px;
  margin-bottom: 16px;
  overflow: hidden;
}

.orders-block .accordion-button {
  background: #E8EDF1;
  border-radius: 4px;
}

.orders-block .accordion-button:not(.collapsed) {
  background: #E8EDF1;
  border-radius: 4px 4px 0 0;
  box-shadow: none;
}

.orders-block .accordion-button:focus {
  z-index: 3;
  border-color: none;
  outline: 0;
  box-shadow: none;
}

.oder-status {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 12.8px;
  line-height: 19px;
  color: #1D4F74;
}

.oder-status span {
  width: 8px;
  height: 8px;
  background: #009CA1;
  border-radius: 50px;
  margin-right: 8px;
}

.oder-status span.refunded {
  background: #1D4F74
}

.oder-status span.cancelled {
  background: #6B7888;
}

.orders-block table thead tr {
  font-style: normal;
  font-weight: 400;
  font-size: 12.8px;
  line-height: 19px;
  color: #6B7888;
}

.orders-block table td {
  font-style: normal;
  font-weight: 400;
  font-size: 12.8px;
  line-height: 19px;
  color: #1D4F74;
  width: 140px;
}

.oder-name h4 {
  font-style: normal;
  font-weight: 400;
  font-size: 12.8px;
  line-height: 19px;
  color: #1D4F74;
}

.oder-name span {
  font-style: normal;
  font-weight: 400;
  font-size: 12.8px;
  line-height: 19px;
  color: #6B7888;
}

.orders-block .accordion-item:first-of-type .accordion-button {
  padding: 24px;
}

.orders-block .accordion-item:first-of-type .accordion-button.collapsed {
  padding: 24px;
  box-shadow: none;
}

.orders-block .accordion-item .table> :not(caption)>*>* {
  padding: 4px 4px 0;
}

.orders-block .accordion-header {
  margin-bottom: 0px;
  overflow: hidden;
  border: none;
}

.orders-block table {
  margin-bottom: 0;
  width: 100%;
}

.orders-block .table-responsive {
  width: 100%;
}

.orders-block .accordion-button {
  padding: 24px;
}

.orders-block .accordion-button:not(.collapsed)::after {
  background-image: url(../images/according-arrow.svg);
  background-position: bottom;
}

.orders-block .accordion-button::after {
  background-image: url(../images/according-arrow.svg);
}

.orders-block .accordion-collapse.show {
  border: 1px solid #E8EDF1;
}

.orders-accordion tr td {
  padding: 24px 0 !important;
}

.orders-accordion tr {
  border-bottom: solid 1px #E8EDF1;
  padding: 24px 0;
}

.orders-accordion tr:last-child {
  border-bottom: none;
}

.contact-details-block form {
  max-width: 350px;
}

.contact-details-block form button {
  max-width: 149px;
}

.communication-block p {
  font-style: normal;
  font-weight: 400;
  font-size: 12.8px;
  line-height: 19px;
  color: #1D4F74;
  margin-bottom: 24px;
}

.communication-block .form-check-label {
  font-style: normal;
  font-weight: 400;
  font-size: 12.8px;
  line-height: 19px;
  color: #1D4F74;
  margin-left: 2px;
}

.communication-block .form-check {
  align-items: center;
}

.communication-block button {
  max-width: 180px;
}

input[type='checkbox']:checked {
  background-color: #009CA1;
}

.change-password-block form {
  max-width: 350px;
}

.change-password-action {
  display: flex;
  align-items: center;
}

.change-password-action button {
  max-width: 180px;
  margin: 0;
}

.change-password-action .forgot {
  font-style: normal;
  font-weight: 400;
  font-size: 12.8px;
  line-height: 19px;
  text-align: right;
  color: #6B7888;
  text-decoration: none;
  width: 100%;
}

@-webkit-keyframes top-bar-before {
  0% {
    height: 0;
  }

  10% {
    height: 0;
  }

  20% {
    height: 85px;
  }

  70% {
    height: 85px;
  }

  80% {
    height: 0;
  }

  100% {
    height: 0;
  }
}

@keyframes top-bar-before {
  0% {
    height: 0;
  }

  10% {
    height: 0;
  }

  20% {
    height: 85px;
  }

  70% {
    height: 85px;
  }

  80% {
    height: 0;
  }

  100% {
    height: 0;
  }
}

@-webkit-keyframes top-bar {
  0% {
    width: 0;
  }

  20% {
    width: 0;
  }

  30% {
    width: 100%;
  }

  60% {
    width: 100%;
  }

  70% {
    width: 0;
  }

  100% {
    width: 0;
  }
}

@keyframes top-bar {
  0% {
    width: 0;
  }

  20% {
    width: 0;
  }

  30% {
    width: 100%;
  }

  60% {
    width: 100%;
  }

  70% {
    width: 0;
  }

  100% {
    width: 0;
  }
}

@-webkit-keyframes top-bar-after {
  0% {
    height: 0;
  }

  30% {
    height: 0;
  }

  40% {
    height: 85px;
  }

  50% {
    height: 85px;
  }

  60% {
    height: 0;
  }

  100% {
    height: 0;
  }
}

@keyframes top-bar-after {
  0% {
    height: 0;
  }

  30% {
    height: 0;
  }

  40% {
    height: 85px;
  }

  50% {
    height: 85px;
  }

  60% {
    height: 0;
  }

  100% {
    height: 0;
  }
}

.d-hidden {
  display: none !important;
}

.m-hidden {
  display: block !important;
}

@media (min-width: 1025px) {
  .mainMenu {
    display: block !important;
  }
}

/* Reposnisve Media  */
/* @media (min-width: 960px) {
  .footer-inner .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .footer-inner .container {
    max-width: 1110px;
  }
} */

@media (max-width: 767px) {
  .payment-icon {
    justify-content: flex-start;
  }

  .sub-footer {
    padding-top: 30px;
  }

  .sub-footer .row {
    flex-direction: column-reverse;
  }

  .brand-hero-info {
    justify-content: flex-start;
    margin-top: 30px;
  }

  .brand-step-block {
    margin-bottom: 30px;
  }

  .lokal-easystep-img {
    text-align: center;
  }

  .search-field {
    max-width: 322px;
  }

}

@media (max-width: 1024px) {

  .productSection .product-item {
    margin-bottom: 32px;
  }

  .productSection .product-images {
    margin-bottom: 16px;
  }

  .productSection .product-header h2 {
    margin-bottom: 4px;
  }

  .topCollectionsSection {
    padding: 0 0px 80px;
  }

  .section-header {
    margin-bottom: 16px;
  }

  .section-header h1 {
    font-size: 16px;
    line-height: 19px;
  }

  .d-hidden {
    display: block !important;
  }

  .m-hidden {
    display: none !important;
  }

  .headerSection {
    position: relative;
  }

  .menuToggler {
    border-radius: 3px;
    color: #FFF;
    display: flex;
    padding: 0;
    align-items: center;
    text-align: center;
    margin-right: 0;
    margin-top: 0;
    margin-left: 0;
    text-transform: uppercase;
  }

  .menuToggler span {
    font-weight: 700;
    font-size: 14px;
  }

  .menuToggler i {
    line-height: inherit;
    margin-right: 8px;
    width: 14px;
  }

  .menuToggler:hover,
  .menuToggler:focus,
  .menuToggler.active {
    color: #FFF;
  }

  .h01IMode2 .menuToggler {
    margin-left: 30px;
    margin-right: 0;
  }

  .header01Inner.h01IMode2 .mainMenu,
  .mainMenu {
    position: absolute;
    width: 100%;
    left: 0;
    top: 100%;
    z-index: 999;
    flex: none;
    display: none;
    background: #FFF;
    box-shadow: 0px 18px 28px 0px rgb(202 201 201 / 35%);
    max-height: calc(100vh - 200px);
    overflow: auto;
  }

  .mainMenu ul {
    display: block;
  }

  .mainMenu ul li {
    display: block;
    width: 100%;
    padding: 0;
    border-top: 1px solid #efece9;
  }

  .mainMenu ul li a {
    padding: 12px 25px;
  }

  .mainMenu>ul>li>ul,
  .mainMenu>ul>li>ul>li>ul,
  .megaMenu {
    position: relative;
    left: 0;
    opacity: 1;
    visibility: visible;
    box-shadow: none;
    transform: none;
    -moz-transform: none;
    -webkit-transform: none;
    transition: none;
    -moz-transition: none;
    -webkit-transition: none;
    padding: 0;
    top: auto;
    border: none;
    width: 100%;
    pointer-events: initial;
    transform-origin: initial;
    background: #fbfbfb;

    display: none;
  }

  .mainMenu>ul>li>ul,
  .mainMenu>ul>li>ul>li ul {
    border-top: 1px solid #efece9;
  }

  .mainMenu>ul>li>ul li:last-child {
    border: none;
  }

  .mainMenu>ul>li>ul li {
    padding: 0;
    border-top: none;
    border-bottom: 1px solid #efece9;
  }

  .mainMenu>ul>li>ul li a {
    padding: 12px 25px 12px 50px;
    display: block;
  }

  .mainMenu>ul>li>ul li ul li a {
    padding-left: 75px;
  }

  .megaMenu .row {
    margin-left: 0;
    margin-right: 0;
  }

  .megaMenu .row .col-lg-4 {
    width: 100%;
    display: block;
    padding: 0;
  }

  .megaMenu .row .col-lg-4:last-of-type {
    display: none;
  }

  .megaMenu h3 {
    display: none;
  }

  .megaMenu ul {
    margin: 0;
  }

  .megaMenu ul li a {
    display: block;
    padding-left: 50px;
  }

  .megaMenu ul li:last-child {
    border: none;
  }

  .megaMenu ul li:hover>a,
  .mainMenu ul li.active>a,
  .mainMenu>ul>li>ul li:hover>a,
  .mainMenu>ul>li>ul li:active>a {
    background: none !important;
    background-size: 0;
  }

  .mainMenu ul li.active>a {
    color: #f9ac73;
  }

  .megaMenu ul li:last-child {
    border-top: 1px solid #efece9;
  }

  .headerAccessLinks a.link-item {
    padding: 0px;
    margin: 0px;
  }

  .account-icon {
    display: flex;
    min-height: 56px;
    align-items: center;
  }

  .logo {
    min-height: 56px;
  }

  .logo img {
    height: 25px;
  }

  .nav-btn {
    display: flex;
    align-items: center;
    min-height: 56px;
  }

  .nav-btn a {
    margin-right: 20px;
  }

  .account-icon a {
    margin-left: 20px !important;
  }

  .browseProductsSection .owl-nav {
    position: absolute;
    top: 40%;
    width: 96%;
  }

  .favorites-item {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
  }

  .favorites-info {
    position: relative;
    left: 0;
    padding: 0;
    top: -20px;
  }

  .favorites-info h2 {
    font-size: 14px;
    margin-bottom: 4px;
  }

  .favorites-info p {
    font-weight: 400;
    font-size: 12.8px;
    line-height: 19px;
  }

  .productSection {
    padding-bottom: 60px;
  }

  .browseproduct-header h2 {
    font-weight: 400;
    font-size: 12.8px;
    line-height: 19px;
  }

  .browseproduct-header p {
    font-weight: 400;
    font-size: 12.8px;
    line-height: 19px;
  }

  .subscribe-block .email-banner {
    display: none;
  }

  .form-group-action {
    text-align: center;
  }

  .productsSection {
    padding: 0 0 60px;
  }

  .products-item {
    margin-bottom: 40px;
  }

  .products-img {
    margin-bottom: 12px;
  }

  .products-header h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 4px;
  }

  .products-header p {
    font-style: normal;
    font-weight: 400;
    font-size: 12.8px;
    line-height: 19px;
  }

  .productsSection .products-img {
    height: auto;
  }

  .productsSection .col-md-4:last-child .products-item {
    margin-bottom: 0px;
  }

  .copy-right {
    min-height: 68px;
  }

  .payment-icon {
    min-height: 68px;
  }

  .payment-icon img {
    margin-left: 0;
    margin-right: 18px;
  }

  .accordion-item {
    border-left: none;
    border-right: none;
  }

  .accordion-button:not(.collapsed) {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #1D4F74;
    background-color: transparent;
    box-shadow: none;
  }

  .accordion-button {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #1D4F74;
  }

  .accordion-button::after {
    background-image: url("data:image/svg+xml,%0A%3Csvg width='16' height='9' viewBox='0 0 16 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.4955 0.992815C14.3634 0.995934 14.238 1.05117 14.1465 1.14646L8.00001 7.29295L1.85353 1.14646C1.80692 1.09847 1.75116 1.06031 1.68954 1.03425C1.62792 1.0082 1.5617 0.994771 1.4948 0.994768C1.39529 0.994793 1.29806 1.0245 1.21553 1.0801C1.133 1.1357 1.06894 1.21466 1.03154 1.30687C0.994139 1.39908 0.985099 1.50035 1.00558 1.59773C1.02605 1.6951 1.07512 1.78416 1.14649 1.85349L7.64649 8.35349C7.74027 8.44723 7.86742 8.49988 8.00001 8.49988C8.1326 8.49988 8.25975 8.44723 8.35353 8.35349L14.8535 1.85349C14.9262 1.78371 14.9762 1.69358 14.9968 1.59492C15.0174 1.49627 15.0077 1.3937 14.969 1.30065C14.9302 1.2076 14.8643 1.12842 14.7798 1.07349C14.6953 1.01855 14.5962 0.990435 14.4955 0.992815Z' fill='%231D4F74'/%3E%3C/svg%3E%0A") !important;
  }

  .accordion {
    --bs-accordion-btn-icon: ;
    --bs-accordion-btn-active-icon: url(data:image/svg+xml,%0A%3Csvg width='16' height='9' viewBox='0 0 16 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.4955 0.992815C14.3634 0.995934 14.238 1.05117 14.1465 1.14646L8.00001 7.29295L1.85353 1.14646C1.80692 1.09847 1.75116 1.06031 1.68954 1.03425C1.62792 1.0082 1.5617 0.994771 1.4948 0.994768C1.39529 0.994793 1.29806 1.0245 1.21553 1.0801C1.133 1.1357 1.06894 1.21466 1.03154 1.30687C0.994139 1.39908 0.985099 1.50035 1.00558 1.59773C1.02605 1.6951 1.07512 1.78416 1.14649 1.85349L7.64649 8.35349C7.74027 8.44723 7.86742 8.49988 8.00001 8.49988C8.1326 8.49988 8.25975 8.44723 8.35353 8.35349L14.8535 1.85349C14.9262 1.78371 14.9762 1.69358 14.9968 1.59492C15.0174 1.49627 15.0077 1.3937 14.969 1.30065C14.9302 1.2076 14.8643 1.12842 14.7798 1.07349C14.6953 1.01855 14.5962 0.990435 14.4955 0.992815Z' fill='%231D4F74'/%3E%3C/svg%3E%0A);
  }

  .accordion-body {
    padding: 0px 15px;
  }

  .accordion-button {
    padding: 15px 15px;
  }

  .accordion-button:focus {
    z-index: 3;
    border-color: none;
    outline: 0;
    box-shadow: none;
  }

  .footer-link ul {
    margin-bottom: 10px;
  }

  .accordion-item:not(:first-of-type) {
    border-top: solid 1px #E8EDF1;
  }

  .footer-link ul li:first-child {
    margin-top: 0;
  }

}

@media (min-width: 1025px) and (max-width: 1200px) {
  .mainMenu ul li {
    margin: 0 32px 0 0;
  }
}